:root {
  --NaranjaRGBA: rgba(253, 97, 26, 0.8);
  --NaranjaFuerte: #fd611a;
  --blancoSuave: #ebebeb;
  --negro: rgb(0, 0, 0);
  --Blanco: #fff;
}
.color-body {
  background-color: var(--blancoSuave);
}
.navbar {
  background-color: var(--NaranjaRGBA) !important;
}
.formulario {
  display: flex;
  justify-content: center;
  align-items: center;
}
#icono__carrito {
  width: 2.5rem;
}
.card-width {
  width: 20rem;
}
.item {
  border: 0.1rem solid var(--negro);
  padding: 0.625rem;
  border-radius: 1.25rem;
}
.shoppingCartItemTitle {
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
}

.shopping-cart-image {
  height: 10rem;
}
.item-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1;
}

.item-details > .item-price {
  margin: 0;
}

/* SHOPPING CART */
.shopping-cart-items {
  padding: 1rem 0rem;
}

.shopping-cart-header {
  border-bottom: 0.1rem solid #ccc;
}

.shopping-cart-quantity-input {
  max-width: 2.813rem;
  border: 0.1rem solid #ccc;
  border-radius: 0.313rem;
  background: #eee;
  padding: 0.313rem;
}

.shopping-cart-total {
  min-height: 6rem;
}
.shopping-cart-total {
  display: flex !important;
  justify-content: space-between !important;
}
.shoppingCartTotal {
  margin-left: 0.2rem;
}

@media (max-width: 991px) {
  .shopping-cart-item {
    flex-wrap: wrap;
  }
  .shopping-cart-item-title {
    font-size: 0.8rem;
  }
}
.contenedorProducto {
  display: flex;
  justify-content: center;
  align-items: center;
}
.productoImg {
  width: 15rem !important;
  height: 100%;
  object-fit: contain;
}
.agregarAlCarrito__boton {
  background-color: var(--NaranjaFuerte) !important;
}
.boton__comprar {
  color: var(--Blanco) !important;
  background-color: var(--NaranjaFuerte) !important;
}

.productoPrecio {
  color: var(--negro);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
  position: relative;
  bottom: 1rem;
}

/* Aside Productos */
.productos_contenidos {
  display: flex;
  margin-top: 3rem;
  margin-left: 1rem;
}
.aside_categoria {
  width: 15rem;
}
.collapse_categorias {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  align-items: center;
  color: var(--negro);
}
.categoria_texto {
  display: flex;
  font-size: 1rem;
  margin-right: 1rem;
  margin-top: 1rem;
  margin-bottom:  1rem;
}
.categoria__imagen--flecha-abajo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 1rem;
  margin-bottom:  1rem;
}
.collapse_categorias:hover {
  color: var(--negro);
}
.borde-categoria {
  display: flex;
  justify-content: center;
flex-direction: column;
align-items: center;
  background-color: var(--Blanco);
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
  width: 100% !important;
}
.collapse-borde {
  background-color: var(--Blanco);
}
#categoriaRam,
#categoriaProcesadores,
#categoriaTodosLosProductos,
#categoriaMothers {
  cursor: pointer;
}
.quitar__borde {
  background-color: var(--Blanco) !important;
  border-color: transparent !important;
  padding-bottom: 0.4rem !important;
  padding-top: 0.3rem !important;
}
.aside_Productos {
  width: 80%;
}

@media (max-width: 1000px) {
  .productos_contenidos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    margin-top: 2rem;
  }
  .aside_categoria {
    border: solid var(--negro) 0px;
    width: 100%;
    margin-bottom: 1rem;
  }
  .aside_Productos {
    width: 100%;
  }

}
